services:
  traefik:
    image: traefik:v3
    container_name: traefik
    environment:
      - DOCKER_API_VERSION: "1.47"
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge=true"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
      - "--certificatesresolvers.letsencrypt.acme.email=${LETSENCRYPT_EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - letsencrypt:/letsencrypt
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped

  victus-server:
    image: victus-ruby-server:latest
    container_name: victus-api
    env_file:
      - .env
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.victus-api.rule=Host(`${VICTUS_SERVER_DOMAIN}`)"
      - "traefik.http.routers.victus-api.entrypoints=websecure"
      - "traefik.http.routers.victus-api.tls.certresolver=letsencrypt"
      - "traefik.http.services.victus-api.loadbalancer.server.port=3000"
      - "traefik.http.routers.victus-api-http.rule=Host(`${VICTUS_SERVER_DOMAIN}`)"
      - "traefik.http.routers.victus-api-http.entrypoints=web"
      - "traefik.http.routers.victus-api-http.middlewares=redirect-to-https"
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
    restart: unless-stopped

volumes:
  letsencrypt:
